{% extends 'base.html' %}

{% block content %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Reportes <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>Reporte de Asuntos nuevos en el mes</td>
            <td>
              <a href="{% url 'reporte1_csv' %}" title="" data-placement="top" data-toggle="tooltip" type="button"
                 data-original-title="Exportar a Excel" class="btn tooltips">
                <i class="fa fa-2x  fa-file-excel-o"></i>
              </a>
              <a href="{% url 'reporte1_word' %}" title="" data-placement="top" data-toggle="tooltip" type="button"
                 data-original-title="Exportar a Word" class="btn tooltips">
                <i class="fa fa-2x  fa-file-word-o"></i>
              </a>
              <a href="{% url 'reporte1_pdf' %}" title="" data-placement="top" data-toggle="tooltip" type="button"
                 data-original-title="Exportar a PDF" class="btn tooltips">
                <i class="fa fa-2x fa-file-pdf-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Reporte de Asuntos activos en el mes anterior</td>
            <td>
              <a href="{% url 'reporte2_csv' %}" title="" data-placement="top" data-toggle="tooltip" type="button"
                 data-original-title="Exportar a Excel" class="btn tooltips">
                <i class="fa fa-2x  fa-file-excel-o"></i>
              </a>
              <a href="{% url 'reporte2_word' %}" title="" data-placement="top" data-toggle="tooltip" type="button"
                 data-original-title="Exportar a Word" class="btn tooltips">
                <i class="fa fa-2x  fa-file-word-o"></i>
              </a>
              <a href="{% url 'reporte2_pdf' %}" title="" data-placement="top" data-toggle="tooltip" type="button"
                 data-original-title="Exportar a PDF" class="btn tooltips">
                <i class="fa fa-2x  fa-file-pdf-o"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

