{% extends 'base.html' %}

{% block content %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Asuntos <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Folio</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Nombre</th>
            <th>Agente</th>
          </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
            <tr>
              <th scope="row"><a href="{% url 'listado_eventos' object.id %}">{{ object.folio_ }}</a></th>
              <td>{{ object.added|date:"M d, Y" }}</td>
              <td>{{ object.asunto }}</td>
              <td>{{ object.nombre }}</td>
              <td>
                {% if not object.agente_social %}
                  <a href="{% url 'asignar_agente' object.id %}">Asignar Agente</a>
                {% else %}
                  {{ object.agente_social }}
                {% endif %}

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}

