{% extends 'base.html' %}
{% load agentes_tags %}

{% block content %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Agentes <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Total de Asuntos</th>
            <th>Atendidos</th>
            <th>No Atendidos</th>
            <th>En proceso</th>
          </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
            <tr>
              <th scope="row">{{ object.username }}</th>
              <td>{{ object|total_asuntos }}</td>
              <td>{{ object|total_atendidos }}</td>
              <td>{{ object|total_no_atendidos }}</td>
              <td>{{ object|total_en_proceso }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}

