{% extends 'base.html' %}

{% block content %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Subprocuradurias <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a href="{% url 'crear_subprocuraduria' %}"><i class="fa fa-plus"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Direcciones</th>
            <th>Usuarios</th>
          </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
            <tr>
              <th scope="row">
                <a href="{% url 'editar_subprocuraduria' object.id %}">{{ object.nombre }}</a>
              </th>
              <th scope="row">
                {% for direccion in object.direccion_set.all %}
                  {{ direccion.nombre }},
                {% endfor %}
              </th>
              <th scope="row">
                {% for usuario in object.usuarios.all %}
                  {{ usuario.username }}
                {% endfor %}
              </th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

